# Python
graft finance_enums

# C++
graft cpp
include CMakeLists.txt

# Markdown / Text
include LICENSE
include README.md
include CONTRIBUTING.md

# Project files
include .bumpversion.cfg
include pyproject.toml
include setup.py
include Makefile

# Remove IDE and CI/CD
prune .vscode
prune .github

# Remove test and lint assets
prune .pytest_cache
prune .ruff_cache
prune .mypy_cache
prune _skbuild
exclude .clang-format

# Remove VCS assets
exclude .gitignore
exclude .gitattributes

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store

